@media only screen and (max-width : 1024px){

    .m-notes-btn{
        padding: 2px 5px;
        width: 2.6rem;
        height: 2rem;
    }
    .input-m{
        max-height: 48vh;
    }
}

@media only screen and (max-width : 769px){ 

    .m-notes-btn{
        padding: 2px 3px;
        width: 1.8rem;
        height: 1.7rem;
        font-size: 14px;
    }
    .input-m{
        max-height: 40vh;
    }
}

@media only screen and (max-width : 768px){

    .m-notes-btn{
        width: 2.2rem;
        height: 1.9rem;
        font-size: 16px;
    }
    .input-m{
        max-height: 32vh;
    }
}
@media only screen and (max-width : 540px){
    .input-m {
        width: 47vh;
        max-height: 31vh;
    }
}


@media only screen and (max-width : 425px), (max-width : 540px){
    .main ul{
        border:none;
        margin-top: 0px ;
    }
    .input-d{
        display: block;
        padding: 0px;
    }

    .input-m{
        width: 37vh;
        max-height: 26vh;
    }
    .h-m{
        font-size: 27px;
        padding: 3px 9px;
    }
    .btn{
        font-size: 22px;
        width: 131px;
    }
    body{
        align-items: unset;
    }
    .main{
        margin-top: 24px;
        height: fit-content;
        margin-bottom: 24px;
    }
    .i-h{
        margin-top: 29px;
    }
}



@media only screen and (max-width : 375px){
    
    .input-m {
        max-height: 25vh;
        width: 41vh;
    }
    .i-h {
        margin: 18px 16px;
    }
    .h-m {
        margin: 16px 0px;
        margin-bottom: 5px;
    }

}